.search_icon {
      font-size: 1rem;
      position: absolute;
      margin-left: 5px;
}

.search_icon:hover {
      cursor: pointer;
}

.search_icon:active {
      color: rgb(134, 134, 134);
}

.search {
      font-size: 1rem;
      padding-left: 25px;
      width: 50vw;
      max-width: 250px;
}

.delete {
      background-color: red;
      font-size: 1rem;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      height: 40px;
      min-width: 70px;
}

.delete:active,
.redButton:active {
      background-color: rgb(247, 143, 143);
}

.delete:last-child {
      display: none;
}

.cancel {
      background-color: #00B3EC;
      font-size: 1rem;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      height: 40px;
      display: none;
      min-width: 70px;
}

.blueButton {
      background-color: #00B3EC;
      font-size: 1rem;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      height: 40px;
      min-width: 70px;
}

.redButton {
      background-color: red;
      font-size: 1rem;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      height: 40px;
      width: 70px;
}

.blueButton:active,
.cancel:active {
      background-color: #74c5dd;
}

.title {
      background-color: white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 70%;
      max-width: 200px;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      height: 100%;
}

.title>h2 {
      margin-bottom: 0;
}

.checkbox {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: auto;
      margin-bottom: auto;
      display: none;
}

.detail:hover,
.checkbox {
      cursor: pointer;
}

.pop_up {
      width: 80%;
      max-width: 400px;
      height: 50%;
      max-height: 250px;
      position: absolute;
      border: 2px solid black;
      border-radius: 20px;
      top: 30%;
      background-color: #d4d4d4;
      z-index: 50;
      display: none;
      text-align: center;
}

@media only screen and (min-width:768px) {

      .search_icon,
      .search,
      .delete,
      .cancel,
      .blueButton {
            font-size: 1.3rem;
      }

      .search {
            padding-left: 30px;
      }

      .titleBoard {
            height: 50px;
      }

      .searchEngine {
            position: absolute;
            align-self: flex-end;
      }
}

@media only screen and (max-width:1024px) {
      .searchEngine {
            position: static;
            align-self: center;
      }

      .titleBoard {
            height: auto;
      }
}

@media only screen and (max-width:280px) {
      .pop_up_message {
            font-size: 1.3rem;
      }
}