.board {
      background-color: #E6E6E6;
      border-radius: 10px;
      height: 98%;
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
}

.name {
      width: 700px;
      height: 50px;
      font-size: 30px;
      text-align: center;
      background-color: #BEBEBE;
      border: 1px solid black;
      border-radius: 10px;
}

.trash {
      color: red;
      font-size: 40px;
      position: absolute;
      left: 96%;
}

.trash:hover {
      cursor: pointer;
}

.trash:active {
      color: rgb(255, 176, 176);
}

.confirm {
      background-color: #00c3ff;
      color: white;
      width: 150px;
      height: 50px;
      font-size: large;
      border-radius: 15px;
      margin-left: 0;
      margin-right: 50px;
}

.confirm:active {
      background-color: #73deff;
}

.cancel {
      background-color: red;
      color: white;
      width: 150px;
      height: 50px;
      font-size: large;
      border-radius: 15px;
      margin-left: 0;
      margin-right: 50px;
}

.cancel:active {
      background-color: rgb(255, 105, 105);
}

.font {
      font-size: 30px;
      margin: 0;
      text-align: center;
}

.input {
      width: 200px;
      height: 50px;
      margin-left: 10px;
      font-size: 30px;
      margin-top: auto;
      margin-bottom: auto;
}

.browse {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      font-size: 15px;
}

.images {
      width: 90%;
      height: 85%;
}

.choose_categories {
      border: none;
      border-radius: 10px;
      background-color: #00c3ff;
      color: white;
      text-align: justify;
}

.choose_categories:active {
      background-color: #73deff;
}

.categories {
      background-color: #dadada;
      border-radius: 20px;
      border: 1px solid black;
      display: none;
}

.categories_list {
      height: 75%;
      overflow: scroll;
}

.category_checkbox {
      width: 25%;
      display: flex;
      align-items: center;
}

.category_checkbox>* {
      font-size: 20px;
}

.category_checkbox>input {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin-right: 10px;
}

.pop_up {
      display: none;
      justify-content: space-around;
      height: 40%;
      width: 40%;
      background-color: #dadada;
      border-radius: 20px;
      border: 1px solid black;
}

@media only screen and (max-width:1280px) {
      .name {
            width: 500px;
            height: 30px;
            font-size: 20px;
      }

      .font {
            font-size: 20px;
      }

      .browse {
            font-size: 13px;
      }

      .input {
            width: 150px;
            height: 30px;
            font-size: 20px;
      }

      .category_checkbox {
            width: 25%;
            display: flex;
            align-items: center;
      }

      .category_checkbox {
            height: 15px;
      }

      .category_checkbox>* {
            font-size: 13px;
      }

      .category_checkbox>input {
            width: 13px;
            height: 13px;
            min-width: 13px;
            min-height: 13px;
            margin-right: 10px;
      }

      .margining {
            margin-top: 2% !important;
            margin-bottom: 0 !important;
      }

      .trash {
            font-size: 30px;
      }

      .categories>h1 {
            font-size: 25px;
      }

      .cancel {
            width: 100px;
            height: 30px;
            font-size: normal;
            border-radius: 5px;
      }

      .confirm {
            width: 100px;
            height: 30px;
            font-size: normal;
            border-radius: 5px;
      }
}

@media only screen and (max-width:1024px) {
      .category_checkbox {
            height: 13px;
      }

      .category_checkbox>* {
            font-size: 10px;
      }

      .category_checkbox>input {
            width: 10px;
            height: 10px;
            min-width: 10px;
            min-height: 10px;
            margin-right: 10px;
      }
}