.detail_board {
    background-color: #E6E6E6;
    border-radius: 10px;
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
}

.trash {
    font-size: 30px;
    color: red;
}

.trash:hover {
    cursor: pointer;
}

.trash:active {
    color: rgb(248, 112, 112);
}

.back {
    border-radius: 20px;
    background-color: #C0C0C0;
    width: 80px;
    height: 40px;
    font-size: 20px;
    align-items: center;
}

.back>* {
    text-decoration: none;
    color: black;
}

.back>*:hover {
    color: black;
}

.back:active {
    background-color: #8a8a8a;
}

img {
    width: 30%;
    height: 90%;
    background-color: #FAFAFA;
    border: 1px solid black;
    border-radius: 20px;
}

.info>* {
    font-size: 30px;
}

.edit {
    width: 100px;
    height: 50px;
    background-color: #00B3EC;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.history {
    width: 300px;
    height: 50px;
    background-color: #00B3EC;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    margin-left: 5%;
}

.edit:active,
.history:active,
.confirm:active,
.OK:active,
.delete_confirm:active {
    background-color: #61c4e2;
}

.head {
    font-size: 20px;
}

.update {
    display: none;
}

.cancel {
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    width: 120px;
}

.cancel:active,
.delete_cancel:active {
    color: rgb(248, 112, 112);
}

.confirm {
    background-color: #00B3EC;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    width: 120px;
}

.table_body {
    height: 85%;
}

.pop_up {
    background-color: white;
    width: 600px;
    text-align: center;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    display: none;
}

.OK {
    background-color: #00B3EC;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

.delete_pop_up {
    background-color: white;
    width: 500px;
    text-align: center;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    display: none;
}

.delete_cancel {
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.delete_confirm {
    background-color: #00B3EC;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

@media only screen and ((max-height:1000px) or (max-width:1280px)) {
    .info>* {
        font-size: 20px;
    }

    .history {
        width: 250px;
        height: 40px;
        font-size: 20px;
    }

    .table_body {
        height: 75%;
    }

    .head {
        font-size: 16px;
    }

    .table_head {
        margin-top: 0 !important;
    }

    .table_body {
        height: 65%;
    }
}

@media only screen and ((max-height:700px)) {
    .info>* {
        font-size: 15px;
    }

    .history {
        width: 200px;
        height: 30px;
        font-size: 15px;
    }

    .table_body {
        height: 75%;
    }

    .head {
        font-size: 15px;
    }

    .table_head {
        margin-top: 0 !important;
    }

    .table_body {
        height: 65%;
    }

    .history_section {
        margin-top: 15px;
    }
}