.container{
    float: right;
    width: 90%;
    height: 800px;
    padding: 15px;
    background-color: #B9FDFD;
}
.detail{
    background-color: #E6E6E6;
    margin: 5px;
    height: 650px;
}
#top{
    clear: both;
    height: 50px;
}
.delete{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    color: red;
    float: left;
}
.delete:hover{
    background-color: transparent;
    color: red;
}
.back{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    float: right;
    text-align: center;
    background-color: #C0C0C0;
}
.back:hover{
    color: white;
}
.overall{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.img{
    width: 30%;
}
.img>img{
    margin: auto;
    width: 100%;
    height: auto;
}
.info{
    font-size: large;
    width: 50%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}
.submit{
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background-color: #C0C0C0;
}
.submit:hover{
    color: white;
}
.getHistory{
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    background-color: #C0C0C0;
}
.getHistory:hover{
    color: white;
}