.cusList {
    background-color: #E6E6E6;
    border-radius: 10px;
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cusList .search {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    padding-left: 5px;
    padding-right: 28px;
}

.cusList .search_icon {
    position: absolute;
    margin-top: 10px;
    margin-right: 15px;
}

.cusList .detail {
    border: 1px solid black;
    background-color: #00c3ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 50px;
    text-align: center;
}

.cusList .detail:active {
    background-color: #73deff;
}

.cusList .delete {
    margin: auto;
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 15px
}

.cusList .delete:active {
    background-color: rgb(255, 105, 105);
}

.cusList .back {
    margin: auto;
    background-color: #00c3ff;
    color: white;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 50px;
    display: none;
}

.cusList .back:active {
    background-color: #73deff;
}

.cusList .delete:last-child {
    display: none;
    margin-right: 0;
    margin-left: 50px;
}

.cusList .checkbox {
    width: 20px;
    height: 20px;
    display: none;
}

.cus_list_pop_up {
    width: 40%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: #BEBEBE;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
}

.cus_list_pop_up .yes {
    margin: auto;
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 15px
}

.cus_list_pop_up .yes:active {
    background-color: rgb(255, 105, 105);
}

.cus_list_pop_up .no {
    margin: auto;
    background-color: #00c3ff;
    color: white;
    width: 150px;
    height: 50px;
    font-size: large;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 50px;
}

.cus_list_pop_up .no:active {
    background-color: #73deff;
}

@media only screen and (max-width:1600px) {
    .cus_list_pop_up {
        width: 50%;
        height: 20%;
        left: 32%;
    }
}

@media only screen and (max-width:1264px) {
    .cus_list_pop_up {
        width: 60%;
        height: 20%;
        left: 32%;
    }
}

@media only screen and (max-width:996px) {
    .cus_list_pop_up {
        width: 70%;
        height: 20%;
        left: 20%;
    }
}