.admin-home .board {
      background-color: #E6E6E6;
      border-radius: 10px;
      height: 98%;
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.admin-home .pic {
      width: 100%;
      height: 65%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
}

.admin-home .sale {
      width: 30%;
      height: 80%;
      border: 2px solid black;
      border-radius: 20px;
}

.admin-home .best-sellers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 95%;
      width: 100%;
}

.admin-home .group {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 50%;
      /* justify-content: space-around; */
}

.admin-home .group:first-child {
      justify-content: space-around;
}

.admin-home .group:last-child {
      justify-content: center;
}

.admin-home .detail {
      background-color: #00B3EC;
      color: white;
      border-radius: 10px;
      border: 1px solid black;
      width: 150px;
      height: 50px;
      font-size: 30px;
}

.admin-home .detail:active {
      background-color: #94cddf;
}

.admin-home .sold {
      font-size: 30px;
}

.admin-home .section {
      width: 100%;
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #d0d0d0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
}

.admin-home .best_sellers {
      width: 400px;
      background-color: white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
}

@media only screen and (max-width:1280px) {
      .admin-home .section>button {
            font-size: 20px;
            margin-top: 10px !important;
      }

      .admin-home .section>p {
            font-size: 20px;
            margin-top: 10px !important;
      }
}

@media only screen and (max-width:1024px) {
      .admin-home .section>button {
            font-size: 16px;
            margin-top: 5px !important;
      }

      .admin-home .section>p {
            font-size: 16px;
            margin-top: 5px !important;
      }
}