.admin-menu .dropdown {
    display: none;
    position: fixed;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 10px;
    align-self: flex-start;
}

.admin-menu {
    position: fixed;
}

.admin-menu .menu_container a {
    text-decoration: none;
    font-size: 30px;
}

.admin-menu .menu_container a:hover {
    cursor: pointer;
}

.admin-menu .tabs a:hover {
    background-color: rgb(52, 137, 255);
    color: white;
}

.admin-menu .tabs a:active {
    background-color: blue;
}

.admin-menu .logout_button {
    margin-top: auto;
    margin-bottom: 20px;
    color: red;
}

.admin-menu .profile {
    height: 70px;
    width: 70px;
}

.admin-menu .logout_button:active {
    color: rgb(251, 163, 163);
}

.admin-menu .menu_container {
    width: 180px;
    background-color: white;
    height: 100%;
    overflow: auto;
}

.admin-menu .tabs {
    height: 25%;
}

.admin-page {
    margin-left: 180px;
    width: calc(100% - 180px);
}

@media only screen and (max-height:500px) {
    .admin-menu .tabs {
        height: auto;
    }
}

@media only screen and (max-width:992px) {
    .admin-menu .menu_container a {
        font-size: 20px;
    }

    .admin-menu .profile {
        height: 50px;
        width: 50px;
    }

    .admin-menu .menu_container {
        width: 120px;
    }

    .admin-page {
        width: calc(100% - 120px);
        margin-left: 120px;
    }
}


@media only screen and (max-width:575px) {
    .admin-menu .dropdown:first-child {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        align-self: flex-start;
    }

    .admin-page {
        width: 100%;
        margin-left: 0;
    }

    .admin-menu .menu_container .padding_when_collapse {
        margin-top: 50px;
    }

    .admin-menu .menu_container {
        transition: visibility 500ms ease-out, opacity 500ms ease-out;
    }
}