.chart {
  width: 85%;
  height: 100vh;
  right: 0;
}

.chart>img {
  align-self: center;
}

.menu {
  width: auto;
  background-color: #E6E6E6;
  height: 800px;
}

.icon {
  scale: 1.5;
}

.menu>div {
  font-size: large;
  align-content: center;
  height: 50px;
}

.logout {
  bottom: 0;
  position: fixed;
}

.logout>Button {
  color: red;
}

.category {
  background-color: #D9D9D9;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding-top: 20px;
  width: 91.8%;
  right: 0;
}

select {
  border-radius: 10px;
}

input[type="date"] {
  border-radius: 30px;
}

#crit {
  margin-right: 30px;
}

#reg {
  margin-right: 30px;
}

#gametype {
  margin-right: 30px;
}

Button {
  font-size: 20px;
  text-align: left;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #E6E6E6;
}

Button:hover {
  background-color: #00b5ee;
}