.customer-game .board {
      background-color: #E6E6E6;
      border-radius: 10px;
      height: 98%;
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.customer-game .search {
      width: 80%;
      padding-left: 10px;
      font-size: 1.5rem;
}

.customer-game .best_sellers {
      width: 30%;
      background-color: white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 60px;
}

.customer-game .search_icon {
      position: absolute;
      font-size: 30px;
      opacity: 0.7;
      margin-left: 18%;
}

.customer-game .group {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50%;
}

.customer-game .pic {
      width: 100%;
      height: 65%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      object-fit: fill;
}

.customer-game .sale {
      width: 30%;
      height: 80%;
      border: 2px solid black;
      border-radius: 20px;
}

.customer-game .detail {
      background-color: #00B3EC;
      color: white;
      border-radius: 10px;
      border: 1px solid black;
      width: 30%;
      height: 50px;
      font-size: 1.5rem;
      margin-top: 4%;
}

.customer-game .section {
      width: 100%;
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #d0d0d0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
}

.customer-game .add_to_wishlist,
.customer-game .add_to_cart {
      color: black;
      font-size: 2rem;
}

.customer-game .add_to_wishlist:hover {
      cursor: pointer;
}

.customer-game .add_to_cart:hover {
      cursor: pointer;
}

.customer-game .detail:active {
      background-color: #94cddf;
}

.customer-game .page_direction:hover {
      cursor: pointer;
}

.customer-game .detail:active,
.customer-game .out_of_stock_pop_up .OKAY:active {
      background-color: #94cddf;
}

.customer-game .out_of_stock_pop_up {
      width: 40%;
      height: 30%;
      background-color: #d0d0d0;
      border: 1px solid black;
      border-radius: 20px;
      display: none;
}

.customer-game .out_of_stock_pop_up .OKAY {
      background-color: #00B3EC;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 25px;
}

.customer-game .of_search {
      display: none;
}

@media only screen and (max-width:1280px) {
      .customer-game .out_of_stock_pop_up>h2 {
            font-size: 25px;
      }

      .customer-game .out_of_stock_pop_up .OKAY {
            font-size: 20px;
      }

      .customer-game .best_sellers {
            width: 40%;
            height: 50px;
      }

      .customer-game .search {
            font-size: 16px;
      }

      .customer-game .search_icon {
            margin-left: 22%;
            font-size: 16px;
      }

      .customer-game .detail {
            width: 40%;
            height: 40px;
            margin-top: 3%;
      }

      .customer-game .add_to_wishlist,
      .customer-game .add_to_cart {
            font-size: 2rem;
      }
}

@media only screen and (max-width:1024px) {
      .customer-game .detail {
            width: 50%;
            height: 30px;
            margin-top: 2%;
            font-size: 1rem;
      }

      .customer-game .add_to_wishlist,
      .customer-game .add_to_cart {
            font-size: 1.5rem;
      }
}

@media only screen and (max-width:762px) {
      .customer-game .out_of_stock_pop_up>h2 {
            font-size: 16px;
      }

      .customer-game .out_of_stock_pop_up .OKAY {
            font-size: 16px;
      }

      .customer-game .out_of_stock_pop_up {
            width: 60%;
            height: 20%;
      }

      .customer-game .best_sellers {
            width: 50%;
            height: 40px;
      }

      .customer-game .search {
            font-size: 13px;
      }

      .customer-game .search_icon {
            margin-left: 25%;
            font-size: 13px;
      }

      .customer-game .sale {
            width: 60%;
            height: 90%;
      }

      .customer-game .detail {
            width: 80%;
            height: 40px;
            margin-top: 2%;
            font-size: 1.5rem;
      }

      .customer-game .add_to_wishlist,
      .customer-game .add_to_cart {
            font-size: 2rem;
      }
}

@media only screen and (max-width:576px) {
      .customer-game .out_of_stock_pop_up {
            width: 75%;
            height: 15%;
      }
}