.customer-home .board {
      background-color: #E6E6E6;
      border-radius: 10px;
      height: 98%;
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.customer-home .pic {
      width: 100%;
      height: 65%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      object-fit: fill;
}

.customer-home .sale {
      width: 30%;
      height: 90%;
      border: 2px solid black;
      border-radius: 20px;
}

.customer-home .best-sellers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 95%;
      width: 100%;
}

.customer-home .group {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 50%;
}

.customer-home .group:first-child {
      justify-content: space-around;
}

.customer-home .group:last-child {
      justify-content: center;
}

.customer-home .detail {
      background-color: #00B3EC;
      color: white;
      border-radius: 10px;
      border: 1px solid black;
      width: 25%;
      height: 50px;
      font-size: 1.5rem;
      margin-top: 4%;
}

.customer-home .section {
      width: 100%;
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #d0d0d0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
}

.customer-home .best_sellers {
      width: 70%;
      background-color: white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
}


.customer-home .add_to_wishlist,
.customer-home .add_to_cart {
      color: black;
      font-size: 2.5rem;
}

.customer-home .add_to_wishlist:hover {
      cursor: pointer;
}

.customer-home .add_to_cart:hover {
      cursor: pointer;
}

.customer-home .detail:active,
.customer-home .out_of_stock_pop_up .OKAY:active {
      background-color: #94cddf;
}

.customer-home .out_of_stock_pop_up {
      width: 40%;
      height: 30%;
      background-color: #d0d0d0;
      border: 1px solid black;
      border-radius: 20px;
      display: none;
}

.customer-home .out_of_stock_pop_up .OKAY {
      background-color: #00B3EC;
      color: white;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 25px;
}

@media only screen and (max-width:1280px) {
      .customer-home .section>button {
            width: 30%;
            font-size: 20px;
            margin-top: 10px !important;
      }

      .customer-home .add_to_cart {
            font-size: 30px;
      }

      .customer-home .add_to_wishlist {
            font-size: 30px;
      }

      .customer-home .out_of_stock_pop_up>h2 {
            font-size: 25px;
      }

      .customer-home .out_of_stock_pop_up .OKAY {
            font-size: 20px;
      }
}

@media only screen and (max-width:1024px) {
      .customer-home .section>button {
            width: 40%;
            font-size: 16px;
            margin-top: 5px !important;
      }
}

@media only screen and (max-width:762px) {
      .customer-home .group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: space-between;
      }

      .customer-home .group:last-child {
            display: none;
      }

      .customer-home .sale {
            width: 40%;
            height: 30%;
      }

      .customer-home .section>button {
            width: 60%;
            font-size: 16px;
            margin-top: 5px !important;
      }

      .customer-home .add_to_cart {
            font-size: 25px;
      }

      .customer-home .add_to_wishlist {
            font-size: 25px;
      }

      .customer-home .out_of_stock_pop_up>h2 {
            font-size: 16px;
      }

      .customer-home .out_of_stock_pop_up .OKAY {
            font-size: 16px;
      }

      .customer-home .out_of_stock_pop_up {
            width: 60%;
            height: 20%;
      }
}

@media only screen and (max-width:576px) {
      .customer-home .out_of_stock_pop_up {
            width: 75%;
            height: 15%;
      }
}