.Login {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
}

.Login .form {
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

.Login .board {
    width: 50%;
    height: 50%;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url('https://st3.depositphotos.com/1340907/14598/v/600/depositphotos_145989281-stock-illustration-pixel-game-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

@media only screen and (max-width:1200px) {
    .Login .board {
        width: 80%;
        height: 60%;
    }

    .Login .form {
        width: 50%;
    }

    .sign_up_input {
        font-size: 16px !important;
    }
}

@media only screen and (max-width:762px) {
    .Login .board {
        width: 100%;
        height: 70%;
    }

    .Login .form {
        width: 70%;
    }
}