.customer-menu .dropdown {
      display: none;
      position: fixed;
      z-index: 1000;
      margin-top: 10px;
      margin-left: 10px;
      align-self: flex-start;
}

.customer-menu {
      position: fixed;
      z-index: 500;
}

.customer-menu .menu_container a {
      text-decoration: none;
      font-size: 30px;
}

.customer-menu .menu_container a:hover {
      cursor: pointer;
}

.customer-menu .tabs a:hover {
      background-color: rgb(52, 137, 255);
      color: white;
}

.customer-menu .tabs a:active {
      background-color: blue;
}

.customer-menu .logout_button {
      margin-top: auto;
      margin-bottom: 20px;
      color: red;
}

.customer-menu .profile {
      height: 70px;
      width: 70px;
}

.customer-menu .logout_button:active {
      color: rgb(251, 163, 163);
}

.customer-menu .menu_container {
      width: 180px;
      background-color: white;
      height: 100%;
      overflow: auto;
}

.customer-menu .tabs {
      height: 25%;
}

.customer-page {
      margin-left: 180px;
      width: calc(100% - 180px);
}

@media only screen and (max-height:500px) {
      .customer-menu .tabs {
            height: auto;
      }
}

@media only screen and (max-width:992px) {
      .customer-menu .menu_container a {
            font-size: 20px;
      }

      .customer-menu .profile {
            height: 50px;
            width: 50px;
      }

      .customer-menu .menu_container {
            width: 120px;
      }

      .customer-page {
            width: calc(100% - 120px);
            margin-left: 120px;
      }
}


@media only screen and (max-width:575px) {
      .customer-menu .dropdown:first-child {
            display: block;
            margin-top: 10px;
            margin-left: 10px;
            align-self: flex-start;
      }

      .customer-page {
            width: 100%;
            margin-left: 0;
      }

      .customer-menu .menu_container .padding_when_collapse {
            margin-top: 50px;
      }

      .customer-menu .menu_container {
            transition: visibility 500ms ease-out, opacity 500ms ease-out;
      }
}